body {
    margin: 0;
  }
@font-face {
    font-family: "raleway-medium";
    src: url(../raleway/Raleway-Medium.ttf);
}
@font-face {
    font-family: "raleway-semibold";
    src: url(../raleway/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "raleway-bold";
    src: url(../raleway/Raleway-Bold.ttf);
}

h1, h2, h3, h4, h5, h6{
    font-family: "raleway-bold";
}
h4 {
  color: #fff;
}
p {
  font-family: "raleway-medium";
}
.boton {
  font-family: "raleway-bold";
  color: #fff;
  background-color: #EF8D9A;
}
span {
  font-family: "raleway-bold";
  color: #fff;
  text-align: center;
  padding: 15px 20px 15px 20px;
}


/* HEADER */

  .logo-padre {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  .logo {
    width: 300px;
}
  .header {
    background-color: #ffff;
    padding: 30px;
    text-align: center;
  }
  
/* NAV */

#navbar {
  background-color: #FCEAF5;
}


#navbar a {
  float: left;
  display: block;
  color: #707070;
  text-align: left;
  padding: 14px 35px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  background-color: #FCEAF5;
}

.iconos {
  font-size: 25px;
}

#navbar a:hover {
  color: #EF8DCB;
}

.iconosnav {
  display: flex;
  flex-direction: row;
 margin-left: 10cm;
  margin-top: 8px;
  align-items: center;
  color:#83B4B7;
  font-size: 25px 
 }


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 0;
}
.sticky + .content {
  padding-top: 60px;
}

/* INDEX */

.banner-despacho {
  display: flex;
  text-align: center;
  background-color: #83B4B7;
  padding: 30px;
  border-radius: 20px;
}
.imagen-texto{
  position: relative;
  display: inline-block;
  text-align: center;

}
.imagen-texto-encima {
  display: flex;
  
}
.centrado{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 160px 20px 160px;
}
.boton-centrado{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
}
.imagen-hover {
  filter: opacity(.9);
}
.imagen-hover:hover, .boton-imagen:hover {
  filter: opacity(1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(239, 177, 141, 1);
}
.boton-imagen {
  font-family: "raleway-bold";
  color: rgba(255, 255, 255, 0);
  background-color: rgba(239, 177, 141, 0);
  padding: 5px 50px 5px 50px;
  border: none;
  border-radius: 5px;
}
.boton-centrado-carrusel {
  position: absolute;
  top: 382px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
}
.boton-carrusel {
  font-family: "raleway-bold";
  color: #fff;
  background-color: rgba(239, 177, 141, 1);
  padding: 10px 60px 10px 60px;
  border: none;
  border-radius: 5px;
}
.boton-carrusel:hover, .boton:hover {
  background-color: #83B4B7;
}

.accordion .btn
{
  color: #EF8DCB;
}
.btn{
  font-family: "raleway-semibold";
    src: url(../raleway/Raleway-SemiBold.ttf);
}

.carrito .boton-descripcion{
  display: flex; 
  margin-left: 0.5cm;
  font-size: large;
  font-family: "raleway-semibold";
  src: url(../raleway/Raleway-SemiBold.ttf);

}
.carrito .biheart {
  margin-block-start: -0.1cm;
  color:#83B4B7;
  font-size: 30px;
  margin-left: 25px;
}

  /* PRODUCTOS */

.margenes {
  margin: 20px 15px 0 15px;
}
.titulo1 {
  text-align: center;
  margin-top: 60pxpx;
  margin-bottom: 50px;
}



.subtitulos {
  display: flex;
  justify-content: space-between;
}
.subtitulo2 {
  border: 1px solid #000;
  padding: 5px 20px 5px 20px;
}

.contenedor-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.producto-oferta {
  background-color: #707070;
  z-index: 1;
  margin-top: -30px;
  margin-left: 220px;
}
.card-img-top {
  height: 400px;
  object-fit: cover;
}
.titulo-producto {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.boton-productos {
  display: flex;
  justify-content: center;
}
a .boton-productos {
  justify-content: center;
}

.paginacion {
  justify-content: center;
}

dl, ol, ul {
  justify-content: center;
}
.page-link {
  color: #EF8DCB;
}

a .boton {
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}
.final{
  background-color: #EFB18D;
  color: white;
  text-align: center;
}
.suscribirse {
  justify-content: center;
}
.suscribirse input {
  margin-right: 5px;
}

/* DESCRIPCIÓN PLANNER */

.seccion-2 {
  display: flex;
}
.boton-descripcion {
  font-size: 25px;
  padding: 3px 25px 3px 25px;
  font-family: "raleway-bold";
  color: #fff;
  background-color: #EF8D9A;
  border: none;
  border-radius: 15px;
}
.titulo2{
  text-align: center;
  margin-top: 92px;
  margin-bottom: 0px;
}
.container-fluid1{
  margin-bottom: 40px;
}
.card-body {
  font-family: "raleway-semibold";
    src: url(../raleway/Raleway-SemiBold.ttf);
}


/* Footer */

.final1{

  background-color: #EFB18D;
  color: white;
  text-align: center;
  padding:20px 0 35px 0;
}
.suscribirse {
justify-content: center;


}
.suscribirse input {
display: flex;
flex-direction: row;
align-content: center;
margin-right: 5px;
block-size: 40px;

}

.btn1 {
display: flex;
align-items: center;
justify-content: center;
background-color: #83B4B7;
color: white;
font-family: raleway-medium;
src: url(../Raleway/Raleway-Medium.ttf);
border-radius: 10px;
border: none;
block-size: 40px;
padding: 20px 20px 20px 20px ;


}

.final2 article { 
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  color: #707070;
}

footer {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-around;
margin-top: 30px;
margin-bottom: 30px;
}

.footer__headline {
font-weight: bold;
font-size: 15px;
font-family: raleway-medium;
src: url(../Raleway/Raleway-Medium.ttf);
}

.footer__list {
font-family: raleway-medium;
src: url(../Raleway/Raleway-Medium.ttf);
list-style: none;
padding: 5px 0 5px 0;
font-size: 12px;
}

.logo2{
margin-left: 10px;
height: 60px;
width: 180px;
}

.logo1{
margin-bottom: 10px;
margin-top: -10px;
height: 100px;
width: 180px;
}

.rrss {
  margin-top: 10px ;
  margin-left: 70px;
  color: #707070;
}

.bi {
  margin-right: 5px;
  
}

.footer3 {
display: flex;
justify-items: center;
align-items: flex-end;
background-color: #EFB18D;
color: #707070;
text-align: center;
block-size: 50px;
font-size: 15px;
}
